{% load static %}
{% get_static_prefix as static_prefix %}

<footer class="site-footer">
    <div class="container">
        <div class="footer-main">
            <div class="pix-row">
                <div class="pix-col-6">
                    <div class="pix-footer-item">
                        <h3 class="footer-title font-s30">Categories</h3>
                        <div class="footer-menu col-left">
                            <ul>
                                <li><a href="#">Models</a></li>
                                <li><a href="#">Photographers</a></li>
                                <li><a href="#">Film & Video</a></li>
                                <li><a href="#">Artists</a></li>
                                <li><a href="#">Actors</a></li>
                            </ul>
                        </div>
                        <div class="footer-menu col-right">
                            <ul>
                                <li><a href="#">Influencers</a></li>
                                <li><a href="#">Hair Stylists</a></li>
                                <li><a href="#">Makeup Artists</a></li>
                                <li><a href="#">Agencies</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="pix-col-6">
                    <div class="pix-footer-item">
                        <h3 class="footer-title font-s30">Company</h3>
                        <div class="footer-menu col-left">
                            <ul>
                                <li><a href="users/about">About</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="plans.html">Memberships</a></li>
                                <li><a href="#">Trust & Safety</a></li>
                            </ul>
                        </div>
                        <div class="footer-menu col-right">
                            <ul class="footer-social">
                                <li><a href="#"><span class="footer-social-icon"><i class="fab fa-facebook-f"></i></span> Facebook</a></li>
                                <li><a href="#"><span class="footer-social-icon"><i class="fab fa-twitter"></i></span>Twitter</a></li>
                                <li><a href="#"><span class="footer-social-icon"><i class="fab fa-instagram"></i></span>Instagram</a></li>
                                <li><a href="#"><span class="footer-social-icon"><i class="fab fa-pinterest-p"></i></span>Pinterest</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-copyright">
            <div class="pix-row">
                <div class="pix-col-6">
                    <div class="pix-footer-item">
                        <div class="copyright-text"><a href="#">©PixCover</a></div>
                    </div>
                </div>
                <div class="pix-col-6">
                    <div class="pix-footer-item">
                        <ul class="menu-inline">
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Support</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>