{% load static %}
{% get_static_prefix as static_prefix %}

<div class="header-account-info">
    <div class="pix-notification-menu">
        <a href="#" class="pix-notify-icon">
            <span class="notify-dot"></span>
            <span class="pix-icon-bell"></span>
        </a>
    </div>
    <div class="pix-notification-menu">
        <a href="#" class="pix-notify-icon">
            <span class="notify-dot"></span>
            <span class="pix-icon-notify-msg"></span>
        </a>
    </div>

    <div class="pix-user-profile">
        <span class="user-profile-pic">
        <img id="user-avatar-img" src="{{ MEDIA_URL }}{{user.avatar}}" alt="Img"></span>
        <ul class="pix-opt-lists">
            <li><a href="/profile-edit"><span class="pix-option-icon pix-icon-edit"></span> Profile</a></li>
            <li><a href="/profile-messenger"><span class="pix-option-icon pix-icon-delete"></span> Messages</a></li>
            <li><a href="/profile-edit"><span class="pix-option-icon pix-icon-edit"></span> Portfolio</a></li>
            <li><a href="#"><span class="pix-option-icon pix-icon-edit"></span> Boards</a></li>
            <li><a href="/users/settings"><span class="pix-option-icon pix-icon-edit"></span> Settings</a></li>
            <li><a href="/users/signout"><span class="pix-option-icon pix-icon-edit"></span> Sign Out</a></li>
        </ul>
    </div>

    <button class="navbar-toggler toggleMenu" type="button">
        <span class="toggleMenuIcon"><span></span><span></span><span></span></span>
    </button>
</div>