   {% load static %}
   {% get_static_prefix as static_prefix %}
   <!-- JS Links -->
    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/flickity.pkgd.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/owl.carousel.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/select2.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/isotope.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/lazysizes.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/custom-scripts.js'%}"></script>
