{% load static %}
{% get_static_prefix as static_prefix %}
{% load abcfilter %}


<div class="profile-navbar">
    <!-- <p>user debsdsfug: {{ user.id }}</p> -->
     <p>request user id: {{ logged_in_user.id }}</p>
     <p>profile user id: {{ user.id }}</p>
    <ul id="scrollContainer" class="page-navbar pix-nav-border-bottom scroll-container">
        {% if nav_title == 'profile-edit' %} <li class="active"><a href="/users/profile-search">Portfolio</a></li> {%endif%}
            <li class="{% if nav_title == 'settings' %} active {%endif%}"><a href="/users/settings">Work</a></li>
        {% if user == logged_in_user %}
            <li class="{% if nav_title == 'about' %} active {%endif%}"><a href="{% url 'about_url' %}">About</a></li>
        {% else %}
            <li class="{% if nav_title == 'about' %} active {%endif%}"><a href="{% url 'profile_detail_about_url' user.id %}">About</a></li>
        {% endif %}

        <!-- <li class="{% if nav_title == 'about' %} active {%endif%}"><a href="/users/about">About</a></li> -->
        <!-- <li class="{% if nav_title == 'reviews' %} active {%endif%}"><a href="/reviews">Reviews</a></li> -->
        <li class="{% if nav_title == 'reviews' %} active {%endif%}"><a href="{% url 'reviews_url' user.id %}">Reviews</a></li>
        <li class="{% if nav_title == 'connections' %} active {%endif%}"><a href="/connections">Connetions</a></li>
        <li class="{% if nav_title == 'stats' %} active {%endif%}"><a href="/stats">Stats</a></li>
    </ul>
</div>