{% load static %}
{% get_static_prefix as static_prefix %}

<div class="profile-navbar">
    <ul id="scrollContainer" class="page-navbar pix-nav-border-bottom scroll-container">
        {% if nav_title == 'profile-edit' %} <li class="active"><a href="/profile-search">Portfolio</a></li> {%endif%}
        <li class="{% if nav_title == 'settings' %} active {%endif%}"><a href="/users/settings">Work</a></li>
        <li class="{% if nav_title == 'about' %} active {%endif%}"><a href="/users/about">About</a></li>
        <li class="{% if nav_title == 'reviews' %} active {%endif%}"><a href="/reviews">Reviews</a></li>
        <li class="{% if nav_title == 'connections' %} active {%endif%}"><a href="/connections">Connetions</a></li>
        <li class="{% if nav_title == 'stats' %} active {%endif%}"><a href="/stats">Stats</a></li>
    </ul>
</div>