{% load static %}
{% get_static_prefix as static_prefix %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1" />
    <meta name="googlebot" content="noindex" />
    <meta name="robots" content="noindex, nofollow" />

    <title>Home - Pix Cover</title>
    <meta name="title" content="Home - Pix Cover" />
    <meta name="description" content="Talents and agencies around the world showcase their portfolio work on Pixcover - the home to the world’s best professionals." />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="{{URLL}}" />
    <meta property="og:url" content="{{URLL}}" />
    <meta property="og:title" content="Home - Pix Cover" />
    <meta property="og:site_name" content="Home - Pix Cover" />
    <meta property="og:description" content="Talents and agencies around the world showcase their portfolio work on Pixcover - the home to the world’s best professionals." />
    <meta property="og:image" content="{% static 'images/banner-img-01.jpg' %}" />
    <meta property="og:image:secure_url" content="{% static 'images/banner-img-01.jpg' %}" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1920" />
    <meta property="og:image:height" content="970" />
    <meta property="og:image:alt" content="Talents and agencies around the world showcase their portfolio work on Pixcover - the home to the world’s best professionals." />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="{{URLL}}" />
    <meta property="twitter:title" content="Home - Pix Cover" />
    <meta property="twitter:description" content="Talents and agencies around the world showcase their portfolio work on Pixcover - the home to the world’s best professionals." />
    <meta property="twitter:image" content="{% static 'images/banner-img-01.jpg' %}" />
    <meta property="twitter:image:alt" content="Talents and agencies around the world showcase their portfolio work on Pixcover - the home to the world’s best professionals." />

    <!-- Schema.org for Google -->
    <meta itemprop="image" content="./images/banner-img-01.jpg" />
    <meta itemprop="name" content="Home - Pix Cover" />
    <meta itemprop="description" content="Talents and agencies around the world showcase their portfolio work on Pixcover - the home to the world’s best professionals." />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png'%}" />

    <!-- Fonts Links -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- CSS Links -->

    <link rel="stylesheet" href="{% static 'css/flickity.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static  'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

    <meta name="msapplication-TileColor" content="#2b5797" />
    <meta name="theme-color" content="#333333" />
</head>

<body>
    <div class="site-main">
        <header id="mainHeader" class="site-header">
            <div class="header-container">
                <div class="container-fluid">
                    <nav class="navbar">
                        <div class="site-logo">
                            <a class="pix-logo-desktop" href="index.html"><img src="{% static 'images/pix-logo-moble.svg' %}" alt="Logo"></a>
                            <a class="pix-logo-mobile" href="index.html"><img src="{% static 'images/pix-logo-moble.svg' %}" alt="Logo" width="44px" height="44px"></a>
                        </div>

                        <div class="main-manu">
                            <ul class="navbar-nav">
                                <li class="menu-item-has-children">
                                    <a href="profile-search">Find Work</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Actors</a></li>
                                        <li><a href="#">Artists</a></li>
                                        <li><a href="#">Makeup Atrists</a></li>
                                        <li><a href="#">Videographers</a></li>
                                        <li><a href="#">Photographers</a></li>
                                        <li><a href="#">Models</a></li>
                                        <li><a href="#">Fashion Designers</a></li>
                                        <li><a href="#">Agencies</a></li>
                                        <li><a href="#">Influencers</a></li>
                                        <li><a href="#">Hair Stylists</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="profile-visitor">Find Work</a>
                                    <ul class="sub-menu">
                                        <li><a href="profile-visitor">Profile Visitor</a></li>
                                        <li><a href="profile-edit">Profile Edit</a></li>
                                        <li><a href="profile-search">Profile Search</a></li>
                                        <li><a href="profile-messenger">Profile Messenger</a></li>
                                        <li><a href="plans">Plans</a></li>
                                        <li><a href="/users/signin">Sign In</a></li>
                                        <li><a href="work-settings">Work Settings</a></li>
                                        <li><a href="stats">Stats</a></li>
                                        <li><a href="reviews">Reviews</a></li>
                                        <li><a href="about">About</a></li>
                                        <li><a href="connections">Connetions</a></li>
                                    </ul>
                                </li>
                                <li class="pix-search">
                                    <div class="header-search">
                                        <input class="pix-form-control" type="text" placeholder="Search for jobs, talents or agencies" name="pixsearch">
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="header-account-info">
                            <a class="pix-sign-btn" href="/users/signin">Sign In</a>
                            <a class="pix-sign-btn active" href="signup">Sign Up</a>

                            <button class="navbar-toggler toggleMenu" type="button">
                                <span class="toggleMenuIcon"><span></span><span></span><span></span></span>
                            </button>
                        </div>
                    </nav>
                </div>
            </div>
        </header><!-- #Header -->

        <!-- Mobile Main Menu Start -->
        <div class="menuOutSider"></div>
        <div class="stickyMenuBox">
            <div class="menuContent">
                <button class="navbar-toggler toggleMenu" type="button">
                    <span class="toggleMenuIcon"><span></span><span></span></span>
                </button>
                <div class="manuContentWrap">
                    <ul class="navbar-nav">
                        <li class="menu-item menu-item-has-children">
                            <a href="profile-search.html">Find Talent</a>
                            <ul class="sub-menu">
                                <li><a href="#">Actors</a></li>
                                <li><a href="#">Artists</a></li>
                                <li><a href="#">Makeup Atrists</a></li>
                                <li><a href="#">Videographers</a></li>
                                <li><a href="#">Photographers</a></li>
                                <li><a href="#">Models</a></li>
                                <li><a href="#">Fashion Designers</a></li>
                                <li><a href="#">Agencies</a></li>
                                <li><a href="#">Influencers</a></li>
                                <li><a href="#">Hair Stylists</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="profile-visitor.html">Find Work</a>
                            <ul class="sub-menu">
                                <li><a href="profile-visitor.html">Profile Visitor</a></li>
                                <li><a href="profile-edit.html">Profile Edit</a></li>
                                <li><a href="profile-search.html">Profile Search</a></li>
                                <li><a href="profile-messenger.html">Profile Messenger</a></li>
                                <li><a href="plans.html">Plans</a></li>
                                <li><a href="/users/signin">Sign In</a></li>
                                <li><a href="work-settings.html">Work Settings</a></li>
                                <li><a href="stats.html">Stats</a></li>
                                <li><a href="reviews.html">Reviews</a></li>
                                <li><a href="about.html">About</a></li>
                                <li><a href="connections.html">Connetions</a></li>
                            </ul>
                        </li>
                        <li><a href="/users/signin">Sign In</a></li>
                        <li><a href="users/signin">Sign Up</a></li>
                    </ul>
                </div>
            </div>
        </div><!-- Mobile Main Menu End -->


        {% with image_url=static_prefix|add:'images/banner-img-01.jpg' %}
        <section class="home-banner bg-cover loading pix-lazyload-bgi" style="background-image: url({{image_url}});">
            {% endwith %}
                        <span class="photo-mask"></span>
            <img class="lazyload hide" src="{% static 'images/banner-img-01.jpg' %}" alt="Images">
            <div class="container">
                <div class="home-banner-content">
                    <h1>HIRE A <br>PRO</h1>
                    <p>Home to top professionals worldwide, showcasing their finest portfolios.</p>
                    <a class="pix-btn btn-white" href="#"><span class="pix-btn-text">Get Started</span></a>
                </div>
                <div class="banner-tag-text">
                    <h6>Are you a pro? <a href="#">Sign Up</a></h6>
                </div>
            </div>
        </section>

        <section class="explore-category-sec">
            <div class="container">
                <div class="explore-cat-head">
                    <div class="explore-cat-title">
                        <h2 class="font-s70">Explore <br>by category</h2>
                        <div class="slider-opt-arrow">
                            <span class="exc-slider-left-arrow customNextBtn flex-center"></span>
                            <span class="exc-slider-text">Drag or click the arrows</span>
                            <span class="exc-slider-right-arrow customPreviousBtn flex-center"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="explore-cat-content">
                <div class="slider-container">
                    <div class="explore-cat-slider">
                        <div class="carousel" data-flickity='{ "dragThreshold": 10, "contain": true, "freeScroll": true, "pageDots": false, "wrapAround": true, "groupCells": false, "initialIndex": 0, "percentPosition": false }'>
                            <div class="carousel-cell">
                                {% with image_url=static_prefix|add:'images/explore-category-slider-img-01.jpg' %}
                                <a href="#" class="exc-fk-slider-item loading pix-lazyload-bgi" style="background-image: url({{image_url}});">
                                    {%endwith%}
                                    <span class="photo-mask"></span>
                                    <img class="lazyload hide" src="{% static 'images/explore-category-slider-img-01.jpg' %}" alt="Images">
                                    <div class="exc-fk-slide-title">
                                        <h3 class="font-s30">Makeup Artists</h3>
                                        <span class="exc-fk-counter font-s20">948</span>
                                    </div>
                                </a>
                            </div>
                            <div class="carousel-cell">
                                {% with image_url=static_prefix|add:'images/explore-category-slider-img-02.jpg' %}
                                <a href="#" class="exc-fk-slider-item loading pix-lazyload-bgi" style="background-image: url({{image_url}});">
                                    {%endwith%}
                                    <span class="photo-mask"></span>
                                    <img class="lazyload hide" src="{% static 'images/explore-category-slider-img-02.jpg' %}" alt="Images">
                                    <div class="exc-fk-slide-title">
                                        <h3 class="font-s30">Models</h3>
                                        <span class="exc-fk-counter font-s20">58</span>
                                    </div>
                                </a>
                            </div>
                            <div class="carousel-cell">
                                {% with image_url=static_prefix|add:'images/explore-category-slider-img-03.jpg' %}
                                <a href="#" class="exc-fk-slider-item loading pix-lazyload-bgi" style="background-image: url({{image_url}});">
                                    {%endwith%}
                                    <span class="photo-mask"></span>
                                    
                                    <img class="lazyload hide" src="{% static 'images/explore-category-slider-img-03.jpg' %}" alt="Images">
                                    <div class="exc-fk-slide-title">
                                        <h3 class="font-s30">Photographers</h3>
                                        <span class="exc-fk-counter font-s20">148</span>
                                    </div>
                                </a>
                            </div>
                            <div class="carousel-cell">
                                {% with image_url=static_prefix|add:'images/explore-category-slider-img-04.jpg' %}
                                <a href="#" class="exc-fk-slider-item loading pix-lazyload-bgi" style="background-image: url({{image_url}});">
                                    {%endwith%}
                                    <span class="photo-mask"></span>
                                    <img class="lazyload hide" src="{% static 'images/explore-category-slider-img-04.jpg'%}" alt="Images">
                                    <div class="exc-fk-slide-title">
                                        <h3 class="font-s30">Film Makers</h3>
                                        <span class="exc-fk-counter font-s20">118</span>
                                    </div>
                                </a>
                            </div>
                            <div class="carousel-cell">
                                {% with image_url=static_prefix|add:'images/explore-category-slider-img-05.jpg' %}
                                <a href="#" class="exc-fk-slider-item loading pix-lazyload-bgi" style="background-image: url({{image_url}});">
                                    {%endwith%}
                                    <span class="photo-mask"></span>
                                    <img class="lazyload hide" src="{% static 'images/explore-category-slider-img-05.jpg'%}" alt="Images">
                                    <div class="exc-fk-slide-title">
                                        <h3 class="font-s30">Makeup Artists</h3>
                                        <span class="exc-fk-counter font-s20">948</span>
                                    </div>
                                </a>
                            </div>
                            <div class="carousel-cell">
                                {% with image_url=static_prefix|add:'images/explore-category-slider-img-02.jpg' %}
                                <a href="#" class="exc-fk-slider-item loading pix-lazyload-bgi" style="background-image: url({{image_url}});">
                                    {%endwith%}
                                    <span class="photo-mask"></span>
                                    <img class="lazyload hide" src="{% static 'images/explore-category-slider-img-02.jpg'%}" alt="Images">
                                    <div class="exc-fk-slide-title">
                                        <h3 class="font-s30">Models</h3>
                                        <span class="exc-fk-counter font-s20">58</span>
                                    </div>
                                </a>
                            </div>
                            <div class="carousel-cell">
                                {% with image_url=static_prefix|add:'images/explore-category-slider-img-01.jpg' %}
                                <a href="#" class="exc-fk-slider-item loading pix-lazyload-bgi" style="background-image: url({{image_url}});">
                                    {%endwith%}
                                    <span class="photo-mask"></span>
                                    <img class="lazyload hide" src="{% static 'images/explore-category-slider-img-01.jpg'%}" alt="Images">
                                    <div class="exc-fk-slide-title">
                                        <h3 class="font-s30">Photographers</h3>
                                        <span class="exc-fk-counter font-s20">148</span>
                                    </div>
                                </a>
                            </div>
                            <div class="carousel-cell">
                                {% with image_url=static_prefix|add:'images/explore-category-slider-img-06.jpg' %}
                                <a href="#" class="exc-fk-slider-item loading pix-lazyload-bgi" style="background-image: url({{image_url}});">
                                    {%endwith%}
                                    <span class="photo-mask"></span>
                                    <img class="lazyload hide" src="{% static 'images/explore-category-slider-img-06.jpg'%}" alt="Images">
                                    <div class="exc-fk-slide-title">
                                        <h3 class="font-s30">Film Makers</h3>
                                        <span class="exc-fk-counter font-s20">118</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section verify-talents-sec">
            <div class="container">
                <div class="pix-row pix-row-reverse">
                    <div class="pix-col-4">
                        <div class="verified-talents-desc">
                            <div class="vft-desc-icon"><img src="{% static 'images/icon-verify-tick.svg'%}" alt="Icon"></div>
                            <span class="vft-sub-title">Chat With Real</span>
                            <h2 class="font-s60">Verified Talents</h2>
                            <p class="font-s20">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</p>
                            <a class="pix-btn deskView" href="#"><span class="pix-btn-text">Start Browsing</span></a>
                        </div>
                    </div>
                    <div class="pix-col-8">
                        <div class="verified-talent-content">
                            <div class="vft-col-item vft-style-left">
                                <div class="verified-talents-item">
                                    <div class="vft-item-img loading pix-lazyload-img">
                                        <span class="photo-mask"></span>
                                        <img class="lazyload" src="{% static 'images/talent-profile-img-02.jpg'%}" width="900" height="1188" alt="Images">
                                    </div>
                                    <div class="vft-item-title">
                                        <h4 class="font-s30">Alain B. <span class="vft-icon"><img src="{% static 'images/icon-verify-filled-white.svg'%}" alt="Icon"></span></h4>
                                        <span class="vft-item-designation font-s20">Photographer</span>
                                    </div>
                                </div>
                            </div>
                            <div class="vft-col-item vft-style-right">
                                <div class="verified-talents-item">
                                    <div class="vft-item-img loading pix-lazyload-img">
                                        <span class="photo-mask"></span>
                                        <img class="lazyload" src="{% static 'images/talent-profile-img-01.jpg'%}" width="900" height="1188" alt="Images">
                                    </div>
                                    <div class="vft-item-title">
                                        <h4 class="font-s30">Daniela G. <span class="vft-icon"><img src="{% static 'images/icon-verify-filled-white.svg'%}" alt="Icon"></span></h4>
                                        <span class="vft-item-designation font-s20">Model</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="pix-hiring-simple-sec">
            <div class="container">
                <div class="pix-row">
                    <div class="pix-col-8">
                        <div class="hiring-simple-intro">
                            <h1>HIRING IS SIMPLE</h1>
                            <p>Meet clients you’re excited to work with and <br>take your career or business to new heights.</p>
                            <a class="pix-btn deskView" href="#"><span class="pix-btn-text">HIRE TALENTS</span></a>
                        </div>
                    </div>
                    <div class="pix-col-4">
                        <div class="hiring-simple-desc">
                            <div class="hiring-simple-item">
                                <h3><span>1</span> Browse profiles</h3>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore</p>
                            </div>
                            <div class="hiring-simple-item">
                                <h3><span>2</span> Hire professionals</h3>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore</p>
                            </div>
                            <div class="hiring-simple-item pb-0">
                                <h3><span>3</span> Get the work done</h3>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore</p>
                            </div>
                            <div class="flex-center resView">
                                <a class="pix-btn" href="#"><span class="pix-btn-text">HIRE TALENTS</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="pix-choose-feture">
            <div class="container">
                <div class="section-title">
                    <h2 class="font-s70">More reasons companies around<br> the world choose Pixcover</h2>
                </div>
                <div class="pix-row">
                    <div class="pix-col-4">
                        <div class="choose-feature-item">
                             <div class="feature-icon">
                                <img src="{% static 'images/icon-credibility.svg'%}" alt="Icon">
                            </div>
                            <div class="feature-desc">
                                <h3 class="font-s30">Credibility</h3>
                                <p class="font-s20">We verify Talents and to help you identify time-tested professionals across the globe.</p>
                            </div>
                        </div>
                    </div>
                    <div class="pix-col-4">
                        <div class="choose-feature-item">
                            <div class="feature-icon">
                                <img src="{% static 'images/icon-communication.svg'%}" alt="Icon">
                            </div>
                            <div class="feature-desc">
                                <h3 class="font-s30">Communication</h3>
                                <p class="font-s20">We verify Talents and to help you identify time-tested professionals across the globe.</p>
                            </div>
                        </div>
                    </div>
                    <div class="pix-col-4">
                        <div class="choose-feature-item">
                             <div class="feature-icon">
                                <img src="{% static 'images/icon-reliability.svg'%}" alt="Icon">
                            </div>
                            <div class="feature-desc">
                                <h3 class="font-s30">Reliability</h3>
                                <p class="font-s20">We verify Talents and to help you identify time-tested professionals across the globe.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="home-feature-find-sec">
            <div class="feature-find-block">
                <a href="#" class="feature-find-item">
                    <div class="feature-find-item-wrap">
                        <h2 class="font-s60">Find Talent</h2>
                        <div class="feature-find-item-desc">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore</p>
                        </div>
                        <span class="pix-btn btn-white btn-border"><span class="pix-btn-text">Hire A Talent</span></span>
                    </div>
                </a>
                <a href="#" class="feature-find-item">
                    <div class="feature-find-item-wrap">
                        <h2 class="font-s60">Find Work</h2>
                        <div class="feature-find-item-desc">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore</p>
                        </div>
                        <span class="pix-btn btn-white btn-border"><span class="pix-btn-text">GET HIRED</span></span>
                    </div>
                </a>
            </div>
        </section>

        <footer class="site-footer">
            <div class="container">
                <div class="footer-main">
                    <div class="pix-row">
                        <div class="pix-col-6">
                            <div class="pix-footer-item">
                                <h3 class="footer-title font-s30">Categories</h3>
                                <div class="footer-menu col-left">
                                    <ul>
                                        <li><a href="#">Models</a></li>
                                        <li><a href="#">Photographers</a></li>
                                        <li><a href="#">Film & Video</a></li>
                                        <li><a href="#">Artists</a></li>
                                        <li><a href="#">Actors</a></li>
                                    </ul>
                                </div>
                                <div class="footer-menu col-right">
                                    <ul>
                                        <li><a href="#">Influencers</a></li>
                                        <li><a href="#">Hair Stylists</a></li>
                                        <li><a href="#">Makeup Artists</a></li>
                                        <li><a href="#">Agencies</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="pix-col-6">
                            <div class="pix-footer-item">
                                <h3 class="footer-title font-s30">Company</h3>
                                <div class="footer-menu col-left">
                                    <ul>
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">Careers</a></li>
                                        <li><a href="plans.html">Memberships</a></li>
                                        <li><a href="#">Trust & Safety</a></li>
                                    </ul>
                                </div>
                                <div class="footer-menu col-right">
                                    <ul class="footer-social">
                                        <li><a href="#"><span class="footer-social-icon"><i class="fab fa-facebook-f"></i></span> Facebook</a></li>
                                        <li><a href="#"><span class="footer-social-icon"><i class="fab fa-twitter"></i></span>Twitter</a></li>
                                        <li><a href="#"><span class="footer-social-icon"><i class="fab fa-instagram"></i></span>Instagram</a></li>
                                        <li><a href="#"><span class="footer-social-icon"><i class="fab fa-pinterest-p"></i></span>Pinterest</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer-copyright">
                    <div class="pix-row">
                        <div class="pix-col-6">
                            <div class="pix-footer-item">
                                <div class="copyright-text"><a href="#">©PixCover</a></div>
                            </div>
                        </div>
                        <div class="pix-col-6">
                            <div class="pix-footer-item">
                                <ul class="menu-inline">
                                    <li><a href="#">Terms</a></li>
                                    <li><a href="#">Privacy</a></li>
                                    <li><a href="#">Support</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div><!-- /site-main -->

    <!-- JS Links -->
    {% include 'pixcoverapp/layout/js.html' %}
</body>
</html>