<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1" />
    <meta name="googlebot" content="noindex" />
    <meta name="robots" content="noindex, nofollow" />

    <title>Profile Search - Pix Cover</title>
    <meta name="title" content="Profile - Pix Cover" />
    <meta name="description" content="Talents and agencies around the world showcase their portfolio work on Pixcover - the home to the world’s best professionals." />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="{{URLL}}" />
    <meta property="og:url" content="{{URLL}}" />
    <meta property="og:title" content="Profile - Pix Cover" />
    <meta property="og:site_name" content="Profile - Pix Cover" />
    <meta property="og:description" content="Talents and agencies around the world showcase their portfolio work on Pixcover - the home to the world’s best professionals." />
    <meta property="og:image" content="{{PAGE SEO IMG}}" />
    <meta property="og:image:secure_url" content="{{PAGE SEO IMG}}" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />
    <meta property="og:image:alt" content="Talents and agencies around the world showcase their portfolio work on Pixcover - the home to the world’s best professionals." />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="{{URLL}}" />
    <meta property="twitter:title" content="Profile - Pix Cover" />
    <meta property="twitter:description" content="Talents and agencies around the world showcase their portfolio work on Pixcover - the home to the world’s best professionals." />
    <meta property="twitter:image" content="{{PAGE SEO IMG}}" />
    <meta property="twitter:image:alt" content="Talents and agencies around the world showcase their portfolio work on Pixcover - the home to the world’s best professionals." />

    <!-- Schema.org for Google -->
    <meta itemprop="image" content="{{PAGE SEO IMG}}" />
    <meta itemprop="name" content="Profile - Pix Cover" />
    <meta itemprop="description" content="Talents and agencies around the world showcase their portfolio work on Pixcover - the home to the world’s best professionals." />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="favicon.png" />

    <!-- Fonts Links -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- CSS Links -->
    <link rel="stylesheet" href="./css/flickity.min.css">
    <link rel="stylesheet" href="./css/select2.min.css">
    <link rel="stylesheet" href="./css/style.css?v20231010.02337491">
    <link rel="stylesheet" href="./css/responsive.css?v20231010.02337491">

    <meta name="msapplication-TileColor" content="#2b5797" />
    <meta name="theme-color" content="#333333" />
</head>

<body class="bg-gray">
    <div class="site-main">
        <header id="mainHeader" class="site-header">
            <div class="header-container">
                <div class="container-fluid">
                    <nav class="navbar">
                        <div class="site-logo">
                            <a class="pix-logo-desktop" href="index.html"><img src="./images/pixcover-logo.svg" alt="Logo"></a>
                            <a class="pix-logo-mobile" href="index.html"><img src="./images/pix-logo-moble.svg" alt="Logo" width="44px" height="44px"></a>
                        </div>

                        <div class="main-manu">
                            <ul class="navbar-nav">
                                <li class="menu-item-has-children">
                                    <a href="profile-search.html">Find Pros</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Actors</a></li>
                                        <li><a href="#">Artists</a></li>
                                        <li><a href="#">Makeup Atrists</a></li>
                                        <li><a href="#">Videographers</a></li>
                                        <li><a href="#">Photographers</a></li>
                                        <li><a href="#">Models</a></li>
                                        <li><a href="#">Fashion Designers</a></li>
                                        <li><a href="#">Agencies</a></li>
                                        <li><a href="#">Influencers</a></li>
                                        <li><a href="#">Hair Stylists</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="profile-visitor.html">Find Work</a>
                                    <ul class="sub-menu">
                                        <li><a href="profile-visitor.html">Profile Visitor</a></li>
                                        <li><a href="profile-edit.html">Profile Edit</a></li>
                                        <li><a href="profile-search.html">Profile Search</a></li>
                                        <li><a href="profile-messenger.html">Profile Messenger</a></li>
                                        <li><a href="plans.html">Plans</a></li>
                                        <li><a href="signin.html">Sign In</a></li>
                                        <li><a href="work-settings.html">Work Settings</a></li>
                                        <li><a href="stats.html">Stats</a></li>
                                        <li><a href="reviews.html">Reviews</a></li>
                                        <li><a href="about.html">About</a></li>
                                        <li><a href="connections.html">Connetions</a></li>
                                    </ul>
                                </li>
                                <li class="pix-search">
                                    <div class="header-search">
                                        <input class="pix-form-control" type="text" placeholder="Search for jobs, talents or agencies" name="pixsearch">
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="header-account-info">
                            <div class="pix-notification-menu">
                                <a href="#" class="pix-notify-icon">
                                    <span class="notify-dot"></span>
                                    <span class="pix-icon-bell"></span>
                                </a>
                            </div>
                            <div class="pix-notification-menu">
                                <a href="#" class="pix-notify-icon">
                                    <span class="notify-dot"></span>
                                    <span class="pix-icon-notify-msg"></span>
                                </a>
                            </div>

                            <div class="pix-user-profile">
                                <span class="user-profile-pic"><img src="./images/user-profile-img.png" alt="Img"></span>
                                <ul class="pix-opt-lists">
                                    <li><a href="#"><span class="pix-option-icon pix-icon-edit"></span> Profile</a></li>
                                    <li><a href="#"><span class="pix-option-icon pix-icon-delete"></span> Messages</a></li>
                                    <li><a href="#"><span class="pix-option-icon pix-icon-edit"></span> Portfolio</a></li>
                                    <li><a href="#"><span class="pix-option-icon pix-icon-edit"></span> Boards</a></li>
                                    <li><a href="#"><span class="pix-option-icon pix-icon-edit"></span> Settings</a></li>
                                    <li><a href="#"><span class="pix-option-icon pix-icon-edit"></span> Sign Out</a></li>
                                </ul>
                            </div>

                            <button class="navbar-toggler toggleMenu" type="button">
                                <span class="toggleMenuIcon"><span></span><span></span><span></span></span>
                            </button>
                        </div>
                    </nav>
                </div>
            </div>
        </header><!-- #Header -->

        <!-- Mobile Main Menu Start -->
        <div class="menuOutSider"></div>
        <div class="stickyMenuBox">
            <div class="menuContent">
                <button class="navbar-toggler toggleMenu" type="button">
                    <span class="toggleMenuIcon"><span></span><span></span></span>
                </button>
                <div class="manuContentWrap">
                    <ul class="navbar-nav">
                        <li class="menu-item menu-item-has-children">
                            <a href="#">Find Pros</a>
                            <ul class="sub-menu">
                                <li><a href="#">Actors</a></li>
                                <li><a href="#">Artists</a></li>
                                <li><a href="#">Makeup Atrists</a></li>
                                <li><a href="#">Videographers</a></li>
                                <li><a href="#">Photographers</a></li>
                                <li><a href="#">Models</a></li>
                                <li><a href="#">Fashion Designers</a></li>
                                <li><a href="#">Agencies</a></li>
                                <li><a href="#">Influencers</a></li>
                                <li><a href="#">Hair Stylists</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="profile-visitor.html">Find Work</a>
                            <ul class="sub-menu">
                                <li><a href="profile-visitor.html">Profile Visitor</a></li>
                                <li><a href="profile-edit.html">Profile Edit</a></li>
                                <li><a href="profile-search.html">Profile Search</a></li>
                                <li><a href="profile-messenger.html">Profile Messenger</a></li>
                                <li><a href="plans.html">Plans</a></li>
                                <li><a href="signin.html">Sign In</a></li>
                                <li><a href="work-settings.html">Work Settings</a></li>
                                <li><a href="stats.html">Stats</a></li>
                                <li><a href="reviews.html">Reviews</a></li>
                                <li><a href="about.html">About</a></li>
                                <li><a href="connections.html">Connetions</a></li>
                            </ul>
                        </li>
                        <li><a href="signin.html">Sign In</a></li>
                        <li><a href="signin.html">Sign Up</a></li>
                    </ul>
                </div>
            </div>
        </div><!-- Mobile Main Menu End -->

        <main class="main-content pix-search-page">
            <div class="container">
                <div class="pix-page-content">
                    <div class="profile-search-container">
                        <div class="pix-row">
                            <div class="pix-col-3">
                                <div class="pix-src-sidebar">
                                    <div class="sidebar-filter">
                                        <div class="pix-src-head">
                                            <h2 class="font-s40">SEARCH</h2>
                                            <span class="pix-clear-btn resView">Filter</span>
                                        </div>
                                        <div class="pix-form-content">
                                            <div class="sidebar-form-block">
                                                <span class="pix-clear-btn">Clear</span>
                                                <div class="pix-form-group">
                                                    <label class="input-label pl-0">Gender</label>
                                                    <select class="pix-form-control pixSelect2">
                                                        <option value="0">Any</option>
                                                        <option value="male">Male</option>
                                                        <option value="female">Female</option>
                                                    </select>
                                                </div>
                                                <div class="pix-form-group">
                                                    <label class="input-label pl-0">Location</label>
                                                    <select class="pix-form-control pixSelect2">
                                                        <option value="0">Any</option>
                                                        <option value="usa">USA</option>
                                                        <option value="canada">Canada</option>
                                                        <option value="uk">UK</option>
                                                        <option value="france">France</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="pix-form-group">
                                                <label class="input-label pl-0">Availibility</label>
                                                <div class="pix-select-box">
                                                    <span class="select-list-title">Any/All</span>
                                                    <div class="pix-select-dropdown">
                                                        <ul class="select-lists">
                                                            <li class="select-list-item">
                                                                <input id="avl_fashon_editorial" type="checkbox">
                                                                <label for="avl_fashon_editorial">Fashon/Editorial</label>
                                                            </li>
                                                            <li class="select-list-item">
                                                                <input id="avl_runway" type="checkbox">
                                                                <label for="avl_runway">Runway</label>
                                                            </li>
                                                            <li class="select-list-item">
                                                                <input id="avl_sport" type="checkbox">
                                                                <label for="avl_sport">Sport</label>
                                                            </li>
                                                            <li class="select-list-item">
                                                                <input id="avl_casual" type="checkbox">
                                                                <label for="avl_casual">Casual</label>
                                                            </li>
                                                            <li class="select-list-item">
                                                                <input id="avl_swimwear" type="checkbox">
                                                                <label for="avl_swimwear">Swimwear</label>
                                                            </li>
                                                            <li class="select-list-item">
                                                                <input id="avl_print" type="checkbox">
                                                                <label for="avl_print">Print</label>
                                                            </li>
                                                            <li class="select-list-item">
                                                                <input id="avl_hair" type="checkbox">
                                                                <label for="avl_hair">Hair</label>
                                                            </li>
                                                            <li class="select-list-item">
                                                                <input id="avl_makeup" type="checkbox">
                                                                <label for="avl_makeup">Makeup</label>
                                                            </li>
                                                            <li class="select-list-item">
                                                                <input id="avl_parts_modeling" type="checkbox">
                                                                <label for="avl_parts_modeling">Parts Modeling</label>
                                                            </li>
                                                            <li class="select-list-item">
                                                                <input id="avl_photogrpher" type="checkbox">
                                                                <label for="avl_photogrpher">Photogrpher</label>
                                                            </li>
                                                            <li class="select-list-item">
                                                                <input id="avl_actors" type="checkbox">
                                                                <label for="avl_actors">Actors</label>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="pix-col-9">
                                <div class="pix-src-content">
                                    <div class="pix-src-head">
                                        <div class="src-top-filter">
                                            <div class="pix-form-group">
                                                <select class="pix-form-control pixSelect2">
                                                    <option value="*">Models</option>
                                                    <option value="Photographer">Photographer</option>
                                                    <option value="MakeupArtist">Makeup Artist</option>
                                                    <option value="Singer">Singer</option>
                                                </select>
                                            </div>
                                            <div class="pix-form-group">
                                                <select class="pix-form-control pixSelect2">
                                                    <option value="*">Rating</option>
                                                    <option value="htol">High to Low</option>
                                                    <option value="ltoh">Low to High</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="pix-post-container">
                                        <div class="pix-profile-src-block pix-row">
                                            <div class="pix-col-4 profile-src-col">
                                                <div class="pix-profile-src-item">
                                                    <div class="pix-profile-cover-photo loading pix-lazyload-bgi" style="background-image: url(./images/about-img.jpg);">
                                                        <span class="photo-mask"></span>
                                                        <img class="lazyload hide" src="./images/about-img.jpg" alt="Images" width="1560" height="1702">
                                                        <div class="pix-profile-photo" style="background-image: url(./images/user-profile-img-2.png);"></div>
                                                    </div>
                                                    <div class="pix-profile-src-desc">
                                                        <h4 class="profile-name">Alexa P. <span class="pix-verify-icon pix-verify-tick-icon-black pix_loading_hidden"></span></h4>
                                                        <span class="profile-title">Makeup Artist</span>
                                                        <span class="profile-location"><i class="fas fa-map-marker-alt"></i> Miami, FL</span>
                                                    </div>
                                                    <div class="pix-profile-src-foot">
                                                        <span class="profile-rating flex-center">4.6 <i class="fas fa-star"></i></span>
                                                        <a class="pix-btn btn-white btn-border btn-h60 pix_loading_hidden" href="#"><span class="pix-btn-text">Profile</span></a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="pix-col-4 profile-src-col">
                                                <div class="pix-profile-src-item">
                                                    <div class="pix-profile-cover-photo loading pix-lazyload-bgi" style="background-image: url(./images/explore-category-slider-img-01.jpg);">
                                                        <span class="photo-mask"></span>
                                                        <img class="lazyload hide" src="./images/explore-category-slider-img-01.jpg" alt="Images" width="980" height="700">
                                                        <div class="pix-profile-photo" style="background-image: url(./images/user-profile-img-2.png);"></div>
                                                    </div>
                                                    <div class="pix-profile-src-desc">
                                                        <h4 class="profile-name">Alexa P. </h4>
                                                        <span class="profile-title">Photographer</span>
                                                        <span class="profile-location"><i class="fas fa-map-marker-alt"></i> Miami, FL</span>
                                                    </div>
                                                    <div class="pix-profile-src-foot">
                                                        <span class="profile-rating flex-center">4.6 <i class="fas fa-star"></i></span>
                                                        <a class="pix-btn btn-white btn-border btn-h60 pix_loading_hidden" href="#"><span class="pix-btn-text">Profile</span></a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="pix-col-4 profile-src-col">
                                                <div class="pix-profile-src-item">
                                                    <div class="pix-profile-cover-photo loading pix-lazyload-bgi" style="background-image: url(./images/explore-category-slider-img-02.jpg);">
                                                        <span class="photo-mask"></span>
                                                        <img class="lazyload hide" src="./images/explore-category-slider-img-02.jpg" alt="Images" width="980" height="700">
                                                        <div class="pix-profile-photo" style="background-image: url(./images/user-profile-img-2.png);"></div>
                                                    </div>
                                                    <div class="pix-profile-src-desc">
                                                        <h4 class="profile-name">Alexa P. <span class="pix-verify-icon pix-verify-tick-icon-black pix_loading_hidden"></span></h4>
                                                        <span class="profile-title">Makeup Artist</span>
                                                        <span class="profile-location"><i class="fas fa-map-marker-alt"></i> Miami, FL</span>
                                                    </div>
                                                    <div class="pix-profile-src-foot">
                                                        <span class="profile-rating flex-center">4.6 <i class="fas fa-star"></i></span>
                                                        <a class="pix-btn btn-white btn-border btn-h60 pix_loading_hidden" href="#"><span class="pix-btn-text">Profile</span></a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="pix-col-4 profile-src-col">
                                                <div class="pix-profile-src-item">
                                                    <div class="pix-profile-cover-photo loading pix-lazyload-bgi" style="background-image: url(./images/explore-category-slider-img-05.jpg);">
                                                        <span class="photo-mask"></span>
                                                        <img class="lazyload hide" src="./images/explore-category-slider-img-05.jpg" alt="Images" width="980" height="700">
                                                        <div class="pix-profile-photo" style="background-image: url(./images/user-profile-img-2.png);"></div>
                                                    </div>
                                                    <div class="pix-profile-src-desc">
                                                        <h4 class="profile-name">Alexa P. <span class="pix-verify-icon pix-verify-tick-icon-black pix_loading_hidden"></span></h4>
                                                        <span class="profile-title">Makeup Artist</span>
                                                        <span class="profile-location"><i class="fas fa-map-marker-alt"></i> Miami, FL</span>
                                                    </div>
                                                    <div class="pix-profile-src-foot">
                                                        <span class="profile-rating flex-center">4.6 <i class="fas fa-star"></i></span>
                                                        <a class="pix-btn btn-white btn-border btn-h60 pix_loading_hidden" href="#"><span class="pix-btn-text">Profile</span></a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="pix-col-4 profile-src-col">
                                                <div class="pix-profile-src-item">
                                                    <div class="pix-profile-cover-photo loading pix-lazyload-bgi" style="background-image: url(./images/profile-img-10-1920x1280.jpg);">
                                                        <span class="photo-mask"></span>
                                                        <img class="lazyload hide" src="./images/profile-img-10-1920x1280.jpg" alt="Images" width="1920" height="1280">
                                                        <div class="pix-profile-photo" style="background-image: url(./images/user-profile-img-2.png);"></div>
                                                    </div>
                                                    <div class="pix-profile-src-desc">
                                                        <h4 class="profile-name">Alexa P. </h4>
                                                        <span class="profile-title">Photographer</span>
                                                        <span class="profile-location"><i class="fas fa-map-marker-alt"></i> Miami, FL</span>
                                                    </div>
                                                    <div class="pix-profile-src-foot">
                                                        <span class="profile-rating flex-center">4.6 <i class="fas fa-star"></i></span>
                                                        <a class="pix-btn btn-white btn-border btn-h60 pix_loading_hidden" href="#"><span class="pix-btn-text">Profile</span></a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="pix-col-4 profile-src-col">
                                                <div class="pix-profile-src-item">
                                                    <div class="pix-profile-cover-photo loading pix-lazyload-bgi" style="background-image: url(./images/profile-img-13-1600x1282.jpg);">
                                                        <span class="photo-mask"></span>
                                                        <img class="lazyload hide" src="./images/profile-img-13-1600x1282.jpg" alt="Images" width="1600" height="1282">
                                                        <div class="pix-profile-photo" style="background-image: url(./images/user-profile-img-2.png);"></div>
                                                    </div>
                                                    <div class="pix-profile-src-desc">
                                                        <h4 class="profile-name">Alexa P. <span class="pix-verify-icon pix-verify-tick-icon-black pix_loading_hidden"></span></h4>
                                                        <span class="profile-title">Makeup Artist</span>
                                                        <span class="profile-location"><i class="fas fa-map-marker-alt"></i> Miami, FL</span>
                                                    </div>
                                                    <div class="pix-profile-src-foot">
                                                        <span class="profile-rating flex-center">4.6 <i class="fas fa-star"></i></span>
                                                        <a class="pix-btn btn-white btn-border btn-h60 pix_loading_hidden" href="#"><span class="pix-btn-text">Profile</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pix-col-4 profile-src-col">
                                                <div class="pix-profile-src-item">
                                                    <div class="pix-profile-cover-photo loading pix-lazyload-bgi" style="background-image: url(./images/profile-img-15-1630x1080.jpg);">
                                                        <span class="photo-mask"></span>
                                                        <img class="lazyload hide" src="./images/profile-img-15-1630x1080.jpg" alt="Images" width="1630" height="1080">
                                                        <div class="pix-profile-photo" style="background-image: url(./images/user-profile-img-2.png);"></div>
                                                    </div>
                                                    <div class="pix-profile-src-desc">
                                                        <h4 class="profile-name">Alexa P. <span class="pix-verify-icon pix-verify-tick-icon-black pix_loading_hidden"></span></h4>
                                                        <span class="profile-title">Makeup Artist</span>
                                                        <span class="profile-location"><i class="fas fa-map-marker-alt"></i> Miami, FL</span>
                                                    </div>
                                                    <div class="pix-profile-src-foot">
                                                        <span class="profile-rating flex-center">4.6 <i class="fas fa-star"></i></span>
                                                        <a class="pix-btn btn-white btn-border btn-h60 pix_loading_hidden" href="#"><span class="pix-btn-text">Profile</span></a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="pix-col-4 profile-src-col">
                                                <div class="pix-profile-src-item">
                                                    <div class="pix-profile-cover-photo loading pix-lazyload-bgi" style="background-image: url(./images/stats-img-01.jpg);">
                                                        <span class="photo-mask"></span>
                                                        <img class="lazyload hide" src="./images/stats-img-01.jpg" alt="Images" width="1200" height="1200">
                                                        <div class="pix-profile-photo" style="background-image: url(./images/user-profile-img-2.png);"></div>
                                                    </div>
                                                    <div class="pix-profile-src-desc">
                                                        <h4 class="profile-name">Alexa P. </h4>
                                                        <span class="profile-title">Photographer</span>
                                                        <span class="profile-location"><i class="fas fa-map-marker-alt"></i> Miami, FL</span>
                                                    </div>
                                                    <div class="pix-profile-src-foot">
                                                        <span class="profile-rating flex-center">4.6 <i class="fas fa-star"></i></span>
                                                        <a class="pix-btn btn-white btn-border btn-h60 pix_loading_hidden" href="#"><span class="pix-btn-text">Profile</span></a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="pix-col-4 profile-src-col">
                                                <div class="pix-profile-src-item">
                                                    <div class="pix-profile-cover-photo loading pix-lazyload-bgi" style="background-image: url(./images/stats-img-04.jpg);">
                                                        <span class="photo-mask"></span>
                                                        <img class="lazyload hide" src="./images/stats-img-04.jpg" alt="Images" width="1200" height="1200">
                                                        <div class="pix-profile-photo" style="background-image: url(./images/user-profile-img-2.png);"></div>
                                                    </div>
                                                    <div class="pix-profile-src-desc">
                                                        <h4 class="profile-name">Alexa P. <span class="pix-verify-icon pix-verify-tick-icon-black pix_loading_hidden"></span></h4>
                                                        <span class="profile-title">Makeup Artist</span>
                                                        <span class="profile-location"><i class="fas fa-map-marker-alt"></i> Miami, FL</span>
                                                    </div>
                                                    <div class="pix-profile-src-foot">
                                                        <span class="profile-rating flex-center">4.6 <i class="fas fa-star"></i></span>
                                                        <a class="pix-btn btn-white btn-border btn-h60 pix_loading_hidden" href="#"><span class="pix-btn-text">Profile</span></a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="pix-col-4 profile-src-col">
                                                <div class="pix-profile-src-item">
                                                    <div class="pix-profile-cover-photo loading pix-lazyload-bgi" style="background-image: url(./images/stats-img-05.jpg);">
                                                        <span class="photo-mask"></span>
                                                        <img class="lazyload hide" src="./images/stats-img-05.jpg" alt="Images" width="1200" height="1200">
                                                        <div class="pix-profile-photo" style="background-image: url(./images/user-profile-img-2.png);"></div>
                                                    </div>
                                                    <div class="pix-profile-src-desc">
                                                        <h4 class="profile-name">Alexa P. <span class="pix-verify-icon pix-verify-tick-icon-black pix_loading_hidden"></span></h4>
                                                        <span class="profile-title">Makeup Artist</span>
                                                        <span class="profile-location"><i class="fas fa-map-marker-alt"></i> Miami, FL</span>
                                                    </div>
                                                    <div class="pix-profile-src-foot">
                                                        <span class="profile-rating flex-center">4.6 <i class="fas fa-star"></i></span>
                                                        <a class="pix-btn btn-white btn-border btn-h60 pix_loading_hidden" href="#"><span class="pix-btn-text">Profile</span></a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="pix-col-4 profile-src-col">
                                                <div class="pix-profile-src-item">
                                                    <div class="pix-profile-cover-photo loading pix-lazyload-bgi" style="background-image: url(./images/stats-img-07.jpg);">
                                                        <span class="photo-mask"></span>
                                                        <img class="lazyload hide" src="./images/stats-img-07.jpg" alt="Images" width="1200" height="1200">
                                                        <div class="pix-profile-photo" style="background-image: url(./images/user-profile-img-2.png);"></div>
                                                    </div>
                                                    <div class="pix-profile-src-desc">
                                                        <h4 class="profile-name">Alexa P. </h4>
                                                        <span class="profile-title">Photographer</span>
                                                        <span class="profile-location"><i class="fas fa-map-marker-alt"></i> Miami, FL</span>
                                                    </div>
                                                    <div class="pix-profile-src-foot">
                                                        <span class="profile-rating flex-center">4.6 <i class="fas fa-star"></i></span>
                                                        <a class="pix-btn btn-white btn-border btn-h60 pix_loading_hidden" href="#"><span class="pix-btn-text">Profile</span></a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="pix-col-4 profile-src-col">
                                                <div class="pix-profile-src-item">
                                                    <div class="pix-profile-cover-photo loading pix-lazyload-bgi" style="background-image: url(./images/stats-img-08.jpg);">
                                                        <span class="photo-mask"></span>
                                                        <img class="lazyload hide" src="./images/stats-img-08.jpg" alt="Images" width="1200" height="1200">
                                                        <div class="pix-profile-photo" style="background-image: url(./images/user-profile-img-2.png);"></div>
                                                    </div>
                                                    <div class="pix-profile-src-desc">
                                                        <h4 class="profile-name">Alexa P. <span class="pix-verify-icon pix-verify-tick-icon-black pix_loading_hidden"></span></h4>
                                                        <span class="profile-title">Makeup Artist</span>
                                                        <span class="profile-location"><i class="fas fa-map-marker-alt"></i> Miami, FL</span>
                                                    </div>
                                                    <div class="pix-profile-src-foot">
                                                        <span class="profile-rating flex-center">4.6 <i class="fas fa-star"></i></span>
                                                        <a class="pix-btn btn-white btn-border btn-h60 pix_loading_hidden" href="#"><span class="pix-btn-text">Profile</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer class="site-footer">
            <div class="container">
                <div class="footer-main">
                    <div class="pix-row">
                        <div class="pix-col-6">
                            <div class="pix-footer-item">
                                <h3 class="footer-title font-s30">Categories</h3>
                                <div class="footer-menu col-left">
                                    <ul>
                                        <li><a href="#">Models</a></li>
                                        <li><a href="#">Photographers</a></li>
                                        <li><a href="#">Film & Video</a></li>
                                        <li><a href="#">Artists</a></li>
                                        <li><a href="#">Actors</a></li>
                                    </ul>
                                </div>
                                <div class="footer-menu col-right">
                                    <ul>
                                        <li><a href="#">Influencers</a></li>
                                        <li><a href="#">Hair Stylists</a></li>
                                        <li><a href="#">Makeup Artists</a></li>
                                        <li><a href="#">Agencies</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="pix-col-6">
                            <div class="pix-footer-item">
                                <h3 class="footer-title font-s30">Company</h3>
                                <div class="footer-menu col-left">
                                    <ul>
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">Careers</a></li>
                                        <li><a href="plans.html">Memberships</a></li>
                                        <li><a href="#">Trust & Safety</a></li>
                                    </ul>
                                </div>
                                <div class="footer-menu col-right">
                                    <ul class="footer-social">
                                        <li><a href="#"><span class="footer-social-icon"><i class="fab fa-facebook-f"></i></span> Facebook</a></li>
                                        <li><a href="#"><span class="footer-social-icon"><i class="fab fa-twitter"></i></span>Twitter</a></li>
                                        <li><a href="#"><span class="footer-social-icon"><i class="fab fa-instagram"></i></span>Instagram</a></li>
                                        <li><a href="#"><span class="footer-social-icon"><i class="fab fa-pinterest-p"></i></span>Pinterest</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer-copyright">
                    <div class="pix-row">
                        <div class="pix-col-6">
                            <div class="pix-footer-item">
                                <div class="copyright-text"><a href="#">©PixCover</a></div>
                            </div>
                        </div>
                        <div class="pix-col-6">
                            <div class="pix-footer-item">
                                <ul class="menu-inline">
                                    <li><a href="#">Terms</a></li>
                                    <li><a href="#">Privacy</a></li>
                                    <li><a href="#">Support</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div><!-- /site-main -->

    <!-- JS Links -->
    <script type="text/javascript" src="./js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="./js/popper.min.js"></script>
    <script type="text/javascript" src="./js/flickity.pkgd.min.js"></script>
    <script type="text/javascript" src="./js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="./js/select2.min.js"></script>
    <script type="text/javascript" src="./js/isotope.min.js"></script>
    <script type="text/javascript" src="./js/lazysizes.min.js"></script>
    <script type="text/javascript" src="./js/custom-scripts.js?v20231010.02337491"></script>
</body>
</html>